//COLORS
$Green-500: hsl(158, 36%, 37%);
$Green-700: hsl(158, 42%, 18%);

$Black: hsl(212, 21%, 14%);
$Grey: hsl(228, 12%, 48%);
$Cream: hsl(30, 38%, 92%);
$White: hsl(0, 0%, 100%);

//BREAKPOINTS
$MIN_WIDTH: 25em;
$MAX_WIDTH: 102.9em;

//MIXINS
@mixin montserrat($weight: 500, $style: normal) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
}

@mixin fraunces($weight: 700, $style: normal) {
  font-family: "Fraunces", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
}

@mixin flex($dir: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin background($padding, $margin, $color: $Cream) {
  background-color: $color;
  padding: $padding;
  margin: $margin;
}

//STYLING

:root {
  @include montserrat();
  font-size: 14px;
  color: $Grey;
}

h1 {
  @include fraunces();
  color: $Black;
  line-height: 1em;
}

body {
  @include flex();
  @include background(0em, "0 auto");
  width: 100%;
  min-height: 100vh;
}

article {
  @include flex();
  width: clamp(250px, 50%, 375px);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0px 0px;
}

//CARD
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $Green-500;
  border: none;
  color: $White;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  img {
    height: 1.1em;
    width: 1.1em;
    padding: 0.8em;
    vertical-align: middle;
  }
}

#product-info {
  @include background(0, 0, $White);
  background-size: cover;
  box-sizing: border-box;
  padding: 2.2em;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#product-type {
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

#product-price {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

#discount {
  color: $Green-500;
  font-size: 2rem;
  @include fraunces(700);
}

#original {
  color: $Grey;
  text-decoration-line: line-through;
}

//FOOTER
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

//QUERIES

//DESKTOP
@media screen and (min-width: 800px) {
  article {
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    width: clamp(600px, 20%, 800px);
    max-height: 450px;
  }
  img {
    border-radius: 10px 0px 0px 10px;
  }
  #product-info {
    border-radius: 0px 10px 10px 0px;
    padding: 2em 2em 2em 3em;
  }
}
